body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    img {
        width: 15%;
        margin: 2.5% 0;
    }
    .hide {
        display: none;
    }
    .flip {
        transform: perspective(500px) rotateY(-360deg);
        transition: all 1s;
    }
}
