body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    img {
        width: 15%;
        margin: 2.5% 0;
        &:hover {
            width: 25%;
            transition: 1s;
        }
    }
    .hide {
        display:none;
    }
}
