body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center; }
  body img {
    width: 15%;
    margin: 2.5% 0; }
  body .hide {
    display: none; }
  body .flip {
    transform: perspective(500px) rotateY(-360deg);
    transition: all 1s; }
